@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,500&display=swap");

:root {
  --dark: #08182b;
  --secondary: #ee2560;
  --light: #2b3137;
  --ultrawhite: #f4f4f4;
  --ff-ss: "Roboto", sans-serif;
  --ff-s: "Lobster", serif;
  --fw-t: 100;
  --fw-l: 300;
  --fw-n: 400;
  --fw-b: 700;
  --fw-xb: 900;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  direction: ltr;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

body {
  font-family: sans-serif;
  /* margin: 5vh 0; */
  margin-bottom: 0;
  line-height: 1.6;
  height: 100%;
}

.main {
  min-height: calc(100% - 58px);
  margin-bottom: 5vh;
}

footer {
  background: #cecece;
  width: 100%;
  overflow: hidden;
}

p {
  margin: 0;
}

img {
  width: 100%;
  max-width: 640px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  text-align: center;
}

.intro__message {
  font-size: 5.2rem;
  border: 3px solid rgba(34, 166, 179, 1);
  max-width: 640px;
  width: 100%;
  font-family: serif;
  margin-top: 3vh;
  -webkit-box-shadow: 0px 0px 0px 6px rgba(34, 166, 179, 0.35) inset;
  -moz-box-shadow: 0px 0px 0px 6px rgba(34, 166, 179, 0.35) inset;
  box-shadow: 0px 0px 0px 6px rgba(34, 166, 179, 0.35) inset;
}

.cat-names {
  list-style: none;
  padding: 0;
  max-width: 640px;
  width: 100%;
  /* border: 1px solid rgba(34,166,179, 1); */
  -webkit-box-shadow: 0px 0px 1px 0px rgba(34, 166, 179, 0.85);
  -moz-box-shadow: 0px 0px 1px 0px rgba(34, 166, 179, 0.85);
  box-shadow: 0px 0px 1px 0px rgba(34, 166, 179, 0.85);
}

.cat-name {
  display: block;
  padding: 3px;
  transition: font-weight 0.15s ease-in-out 0.1s;
  cursor: pointer;
}

.cat-name:nth-child(even) {
  background: rgba(34, 166, 179, 0.55);
}

.cat-name:hover {
  font-weight: bold;
}

.cat-name--active {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  opacity: inherit;
}

.cat {
  margin-bottom: 3vh;
  border: 1px solid rgba(34, 166, 179, 1);
  border-bottom: 0;
  padding: 0 0;
  text-align: center;
  transition: opacity 0.45s ease-in;
  opacity: 0;
}

.fadein {
  opacity: 1;
}

.center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: inherit;
}

/* Admin Area */

.admin-panel {
  margin-bottom: 5vh;
  margin-top: 3vh;
  width: 100%;
  max-width: 640px;
  display: block;
  opacity: 0;
  transition: opacity 0.45s ease-in-out;
}

.admin-panel-active {
  opacity: 1;
}

.admin__label {
  font-size: 0.8rem;
}

.admin-btn {
  text-decoration: none;
  color: #fff;
  background: #22a6b3;
  box-sizing: border-box;
  padding: 0.4rem 2.5rem;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

.admin-btn--main {
  display: none;
}

.open {
  display: block;
}

.admin-btn:hover {
  background: #00727e;
}

.admin-btn:focus {
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #22a6b3;
  outline: 0 !important;
}

.admin__input {
  display: block;
  margin-top: 0;
  margin-bottom: 8px;
  border: 1px solid #22a6b3;
  padding: 4px;
  width: 100%;
  border-radius: 3px;
}

.admin__input:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(34, 166, 179, 0.25);
}

.admin-btn--cancel {
  background: #fff;
  border: 1px solid #22a6b3;
  color: #22a6b3;
}

.admin-btn--cancel:hover {
  background: transparent;
}

.admin-btn--save {
  /* margin-left: 8px; */
}

/* Global CSS  */

.shadow {
  -webkit-box-shadow: 0 3px 8px 0 rgba(54, 57, 73, 0.1);
  box-shadow: 0 3px 8px 0 rgba(54, 57, 73, 0.1);
}

.box-results {
  color: #22a6b3;
  border: 1px solid #22a6b3;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: none;
}

.btn {
  text-decoration: none;
  color: #fff;
  background: #22a6b3;
  box-sizing: border-box;
  display: none;
  padding: 1.5rem 5.5rem;
  text-transform: uppercase;
  width: 100%;
}

.box-results__clicked {
  padding: 1.5rem 2rem;
  flex-basis: 100%;
}

.box-results__text {
  padding-left: 12px;
}

@media (min-width: 640px) {
  .intro {
    align-items: center;
  }

  .box-results {
    flex-direction: row;
    width: 640px;
  }

  .btn {
    padding: 1.5rem 3rem;
  }
}
